@use "../abstracts/variables/var_index" as *;
@use "../abstracts/function" as func;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $app-font;
}
body {
  background-color: func.brand_color("dark");
}
